html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(/static/images/back.jpg);
    color: #fcfcfc;
    font-size: 14px;
    line-height: 1.2;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: "Ubuntu", "Monaco", monospace;
}

:focus {
    outline: none;
}

/* new clearfix */
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}
/* end clearfix */

/* COMMON ELEMENTS */
.icon {
    display: block;
    overflow: hidden;
    
    background-image: url(/static/images/icons.png); 
    background-repeat: no-repeat;
    
    text-indent: -9999px;
    text-decoration: none;
}

.delete, .toggle, settings {
    width: 10px;
    height: 10px;   
}

input[type=text] {
    
    box-sizing: border-box; 
    background: #1f1f1f;
    color: #e5e5e5;
    border: 1px solid #1b1b1b;
    border-width: 2px 1px 0 1px;
    padding: 0 2px;
    
    -webkit-box-shadow: 1px 1px 1px #313131;
    -moz-box-shadow: 1px 1px 1px #313131;
    box-shadow: 1px 1px 1px #313131;
}
/* END COMMON ELEMENTS */

#wrapper {
    position: relative;
    min-height: 560px;
    min-width: 950px;
    padding: 4px 20px 60px;
}

/* top list styles */
.screens {
    display: block;
    position: relative;
    overflow: hidden;
    
    padding: 0 60px 1px 0;
    border-bottom: 6px solid #262626;
}

.screens .list-holder {
    width: 100%;
    position: relative;
    overflow: auto;
}

.screens ul {
    margin: 0;
    padding: 0;

    width: 100%;
    list-style: none;
    display: table;
}

.screens li {
    display: table-cell;
    white-space: nowrap;
    padding: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #2f2f2f;
    border-top: 2px solid #5a5a5a;
    color: #e5e5e5;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#0d0d0d));
    background-image: -webkit-linear-gradient(top, #272727, #0d0d0d);
    background-image:    -moz-linear-gradient(top, #272727, #0d0d0d);
    background-image:         linear-gradient(top, #272727, #0d0d0d);
}

.screens li a {
    color: #e5e5e5;
    text-decoration: none;
}

.screens li:hover {
    border-top-color: #000;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#040404), to(#282828));
    background-image: -webkit-linear-gradient(top, #040404, #282828);
    background-image:    -moz-linear-gradient(top, #040404, #282828);
    background-image:         linear-gradient(top, #040404, #282828);
}

.screens li.active, .screens li.active:hover {
    border-top-color: #fbf900;
    color: #fbf900;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#020202));
    background-image: -webkit-linear-gradient(top, #383838, #020202);
    background-image:    -moz-linear-gradient(top, #383838, #020202);
    background-image:         linear-gradient(top, #383838, #020202);
}

.screens li.active a {
    color: #fbf900;
}

.screens .holder {
    position: relative;
    padding:  0 35px 0 23px;
    display: block;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
}

.screens > a {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 29px;
    line-height: 29px;

    border-left: 1px solid #2f2f2f;
    border-right: 1px solid #000;
    border-top: 2px solid #5a5a5a;
    background-image: url(/static/images/icons.png);
}

#showAddScreen {
    right: 30px;
    background-position: 7px 7px;
}

#showSettings {
    background-position: -16px 7px;
}

.screens .delete, .screens .toggle {
    position: absolute;
    top: 4px;
    right: 5px;  
}

.screens .delete, #log-holder .item .delete {
    background-position: -1px -36px;
}

.screens .delete:hover, #log-holder .item .delete:hover {
    background-position: -1px -24px;
}

.screens li.active .delete {
    background-position: -1px -48px;
}

.screens .toggle {
    background-position: -14px -36px;
    top: 16px;
    width: 14px;
    height: 13px;
    right: 2px;
}

.screens .toggle.active, .screens .toggle.active:hover {
    background-color: #2a2a2a;
    background-position: -43px -24px;
}

.screens .toggle:hover {
    background-position: -14px -24px;
}

.screens li.active .toggle {
    background-position: -14px -48px;
}
/* end top list styles */

/* main block styles */
#log-holder {
    z-index: 1;
    /* display: table; */
    width: 100%;
}

#log-holder .item {
    /* display: table-cell; */
    width: 47%;
    padding: 1%;

    border: 1px solid #000;
    border-top: 0;

    -webkit-box-shadow: 1px 1px 1px #2e2e2e;
    -moz-box-shadow: 1px 1px 1px #2e2e2e;
    box-shadow: 1px 1px 1px #2e2e2e;
}

#log-holder .inner-holder {
    position: relative;
}

#log-form-holder .inner-holder {
    border: 2px dashed rgba(250,250,250,0.4);
    padding: 119px 10px 122px;
    height: 34px;
}

#log-form-holder input[type=text] {
    display: block;
    position: relative;
    left: -2px;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
}

#log-holder .item .header-holder {
    background-image: url(/static/images/header.png);
    padding: 0 10px;
    position: relative;
    
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#log-holder .item h5 {
    background: url(/static/images/devider.png) 0 100% repeat-x;

    margin: 0;
    padding: 0 15px 3px 0;
    color: #fbf900;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

#log-holder .item .icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

#log-holder .item .body {
    height: 256px;
    overflow-y: scroll;
    background-color: #1f1f1f;
    font-family: monospace;
}

#log-holder .item span {
    display: block;
    font-size: 12px;
    padding: 6px 13px;
    color: #b7b7b7;
    font-family: "Iconsolata", "Droid Sans Mono", "Andale Mono", "Monaco", "Ubuntu Mono","Courier New", Courier, monospace;
}

#log-holder .item span:nth-child(2n+1) {
    background: #2a2a2a;
}

#log-holder .status-bar {
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;

    padding: 5px 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;
}

#log-holder .item > .delete, #log-holder .item > .edit {
    position: absolute;
    top: 4px;
    right: 3px;
}

#log-holder .item > .edit {
    right: 25px;
}

/* end main block styles */

/* pop-ups */
.form-holder {
    display: none;
    position: absolute;

    left: 0;
    top: 20px;
    z-index: 10;
}

#screen-edit-form-holder {
    top: 35px;
    background: #2a2a2a;
    color: #727272;
    
    -webkit-box-shadow: 0px 4px 6px #070707;
    -moz-box-shadow: 0px 4px 6px #070707;
    box-shadow: 0px 4px 6px #070707;
}

#screen-edit-form-holder form {
    padding: 5px 10px;
}

.form-holder.simple label, .form-holder.simple input[type=text] {
    display: block;
      
}

.form-holder.simple label {
    margin-bottom: 4px;
}

.form-holder.simple input[type=text] {  
    position: relative;
    left: -2px;
    width: 100%;
    line-height: 20px;
    height: 20px;
}

#screen-add-form-holder {
    /* background: rgb( 011, 019, 004); a 0.8 */
    background: #2a2a2a;
    color: #727272;
    top: 35px;
    left: auto;
    right: 50px;
    width: 115px;
    padding: 4px 9px;
    box-shadow: 0 4px 6px 2px #000;
    -moz-box-shadow: 0 4px 6px 2px #000;
    -webkit-box-shadow: 0 4px 6px 2px #000;

}

#screen-add-form-holder .pseudoActive {
    position: absolute;
    cursor: pointer;
    top: -31px;
    right: -1px;
    
    width: 28px;
    height: 29px;
    border: 1px solid #fbf900;
    border-bottom-color: #2a2a2a;
}
/* end pop-ups */


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 0;
    height: 50px;
    
    color: #b7b7b7;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

footer a {
    color: #fbf900;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 1px 2px #000;
}
/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}