<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
	src="{% module LocalCopy('/js/socket.io.js') %}"></script>
<script type="text/javascript"
	src="{% module LocalCopy('/js/jquery.min.js') %}"></script>
<script type="text/javascript"
	src="{% module LocalCopy('/js/jquery.tmpl.js') %}"></script>
<script type="text/javascript"
	src="{% module LocalCopy('/js/knockout-1.2.1.js') %}"></script>
<script type="text/javascript" 
	src="{% module LocalCopy('/js/knockout.mapping.js') %}"></script>
</head>
<script type="text/javascript">
	settings = {
			io: {
				port: 8001,
				host: window.location.hostname
			}
	};
</script>
<body>
	<div id="wrapper">

        <div style="position: relative; width: 500px; overflow: hidden;">
		    <div data-bind="template: 'greeting'" style="border: 1px solid #000; padding: 10px; width: 200px; float: left; "></div>

		    <script id="greeting" type="text/html">
               <div class="overlay greeting">
			    <form  data-bind="submit: app.addLog" style="width: 100%;">
			      <p data-bind="text: greeting.text"></p>
			      <p>
				    <label for="category-select">Choose category:</label>
			      	<select id="category-select" data-bind="options: categories, optionsText: 'name', optionsValue: 'name'"></select>
			      </p>
			      <p>
				    <label for="log-name">Enter log name:</label>
			      	<input id="log-name" />
			      </p>
                  <p>
				    <label for="log-source">Enter log source:</label>
			      	<input id="log-source" />
			      </p>
			      <p style="text-align: right">
				    <input type="submit" value="Add" />						
                  </p>
                </form>
               </div>
            </script>
            
            <div data-bind="template: 'add-category'" style="border: 1px solid #000; padding: 10px; width: 200px; margin-left: 15px; float: left; "></div>

		    <script id="add-category" type="text/html">
               <div class="overlay category">
			    <form  data-bind="submit: app.addCategory" style="width: 200px;">
			      <p data-bind="text: greeting.text"></p>
			      <p>
				    <label for="category-name">Choose name:</label>
			      	<input type="text" id="category-name" />
			      </p>
			      <p style="text-align: right">
				    <input type="submit" value="Add" />						
                  </p>
                </form>
               </div>
            </script>

        </div>
        
        <h3>Category list</h3>
		<ul class="subCategories" data-bind="template: { name: 'window-inactive-list', foreach:categories}"></ul>

		<script id="window-inactive-list" type="text/html">
             <li data-bind="visible: isActive">
	           <a href="#" class="remove" data-bind="click: $data.remove, visible: isActive">Remove</a>
	           <a href="#" data-bind="text: isActive, click: $data.setActive"></a>
             </li>
        </script>

        <h3>Log list</h3>
		<div data-bind="template: { name:'window', foreach:logs}"></div>

		<script id="window" type="text/html">
		   <div class="item" data-bind="text: $data.name"></div>
        </script>

	</div>

	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        app.init();
	    });
	</script>
</body>
</html>
